
<h1>Register User</h1>
<form #registerForm='ngForm' (submit)='register()'>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' #name='ngModel' [(ngModel)]='user.name' required />
    <span [hidden]='name.valid || name.pristine'>Name is required!</span>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" name='email' #email='ngModel' [(ngModel)]='user.email' required />
    <span [hidden]='email.valid || email.pristine'>Email is required!</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name='password' #password='ngModel' [(ngModel)]='user.password' required />
    <span [hidden]='password.valid || password.pristine'>Password is required!</span>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input type="password" class="form-control" id="confirmPassword" name='confirmPassword' #confirmPassword='ngModel' [(ngModel)]='user.confirmPassword' required />
    <span [hidden]='password.value === confirmPassword.value || confirmPassword.pristine'>Passwords do not match!</span>
  </div>

  <button type="submit" class="btn btn-success" [disabled]='!registerForm.form.valid || password.value !== confirmPassword.value || confirmPassword.pristine' >Submit</button>

</form>
