
<h1>Login</h1>
<form #loginForm='ngForm' (submit)='login()' class='col-md-6'>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name='email' #email='ngModel' [(ngModel)]='user.email' required />
    <span [hidden]='email.valid || email.pristine'>Email is required!</span>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name='password' #password='ngModel' [(ngModel)]='user.password' required />
    <span [hidden]='password.valid || password.pristine'>Password is required!</span>
  </div>

  <button type="submit" class="btn btn-success" [disabled]='!loginForm.form.valid' >Submit</button>

</form>
